.ng-dirty.ng-invalid {
    border-color: var(--error-color);
    border-width: 2px;
  }
  
  .form-heading {
    text-align: center;
    margin-top: 1rem;
    font-weight: 900;
  }
  
  .text-input {
    border-radius: 6px;
  }
  
  .invalid-input {
    color: var(--error-color);
    text-align: center;
  }
  
  .error-holder {
    height: 30px;
  }
  
  .search-holder {
    width: 100% !important;
  }
  
  .form-holder {
    max-width: 800px;
    width: 100%;
    margin: 15rem auto 4rem;
    border: var(--navigation-color) 2px solid;
    border-radius: 6px;
    background-color: var(--form-color);
  }
  
  .input-holder {
    margin: 0 auto;
    width: 90%;
  }
  
  .input input {
    width: 100%;
    padding: 5px;
    outline: none;
  }
  
  .input {
    display: flex;
  }
  
  .input-field {
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button {
    margin-bottom: 18px;
    height: 37px;
    width: 120px;
    font-size: 21px;
    border-radius: 4px;
  }
  
  .button:enabled {
    background-color: var(--navigation-color);
    color: white;
    border-width: 0;
  }
  
  .create {
    background-image: none;
    margin: 3rem auto 20px;
    background-color: var(--form-color);
  }
  
  .create {
    width: 100%;
  }
  
  .button-holder {
    width: 50%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 835px) {
    .form-holder {
      max-width: 600px;
      width: 100%;
    }
  }