.nav-wrapper {
    z-index: 5;
    background-color: var(--navigation-color);
    width: 100%;
    margin: 0 auto;
  }
  
  .nav-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  
  .nav-links {
    display: flex;
  }
  .nav-links li {
    padding: 0 20px;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    color: var(--font-collor);
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 10px;
  }
   
  .favorites {
    margin-left: 2rem;
  }
  
  .logout-button {
    padding-right: 20px;
  }