<section class="form-holder create">
  <h2 class="form-heading">Create Book</h2>
  <form [formGroup]="createMyBookForm" (ngSubmit)="submitCreateBookForm()">
    <div>
      <div class="input-holder">
        <label class="required-input" for="title">Title</label>
        <div class="input">
          <input
            placeholder="Title is required"
            class="text-input"
            id="title"
            type="text"
            formControlName="title"
            name="title"
          />
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('title')?.touched) &&
            createMyBookForm.get('title')?.errors?.['required']"
          >
            Title is required
          </div>
        </div>
        <div class="authors">
          <div class="authors-holder">
            <label class="required-input" for="author">Authors</label>
            <div class="input">
              <input
                class="text-input"
                placeholder="Author is required"
                type="text"
                id="author"
                name="author"
                formControlName="author"
              />
            </div>
          </div>
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('author')?.touched) &&
            createMyBookForm.get('author')?.errors?.['required']"
          >
            Author is required
          </div>
        </div>
        <label class="required-input" for="pages">Page Count</label>
        <div class="input">
          <input
            class="text-input"
            placeholder="Pages are required"
            id="pages"
            type="number"
            formControlName="pages"
            name="pages"
          />
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('papageseCount')?.touched) &&
            createMyBookForm.get('pages')?.errors?.['required']"
          >
            Pages are required
          </div>
        </div>
        <div>
          <label class="required-input" for="image">Image</label>
          <div class="input">
            <input
              class="text-input"
              placeholder="Image is required"
              id="image"
              type="text"
              formControlName="image"
              name="image"
            />
          </div>
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('image')?.touched) &&
            createMyBookForm.get('image')?.errors?.['pattern']"
          >
            Invalid Image Url
          </div>
          <div
          class="invalid-input"
          *ngIf="(createMyBookForm.get('image')?.touched) &&
          createMyBookForm.get('image')?.errors?.['required']"
        >
          Image is required
        </div>
        </div>
        <div>
          <label class="required-input" for="description">Description</label>
          <div class="input">
            <textarea
              placeholder="Description is required and should be between 20 and 1000 characters"
              class="text-input"
              id="description"
              cols="90"
              rows="10"
              type="text"
              formControlName="description"
              name="description"
            ></textarea>
          </div>
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('description')?.touched) &&
            createMyBookForm.get('description')?.errors?.['required']"
          >
            Description is required
          </div>
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('description')?.touched) &&
            createMyBookForm.get('description')?.errors?.['minlength']"
          >
            Description should be between 20 and 1000 characters
          </div>
        </div>
        <div class="error-holder">
          <div
            class="invalid-input"
            *ngIf="(createMyBookForm.get('description')?.touched) &&
            createMyBookForm.get('description')?.errors?.['maxLength']"
          >
            Description should be between 20 and 1000 characters
          </div>
        </div>
      </div>
      <div class="button-holder">
        <input
          class="button create"
          type="submit"
          [disabled]="createMyBookForm.invalid"
          [value]= "buttonValue"
        />
      </div>
    </div>
  </form>
</section>
